*{
    text-align: center;
}
body{
    align-items: center;
    text-align: center;
    background-image: url(image.png);
    background-size: 100%;
    justify-content: start;    
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.block{
    background-color: rgba(240, 248, 255, 0.98);
    height: 100%;
    width: 40vw;
    margin: 0;
    border-radius: 20px;
}
.answers{
    height: 50vh;
    padding: 40vh 0;
    font-size: 100px;
    box-shadow: 10px 10px 10px rgb(50, 50, 50);
}
.answers button{
    width: 15vw;
    height: 10vh;
    font-size: large;
    background-color: rgb(50, 50, 50);
    color: white;
    border-color: black;
    transition: 0.3;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(50, 50, 50);

}